.card{
    width: 206px;
    height: 220px;
}
.card1{
    width: 206px;
    height: 220px;
    background: #1C3391;
}
.card2{
    width: 206px;
    height: 220px;
    background: #F67B02;
}
.card3{
    width: 206px;
    height: 220px;
    background: #E31F51;
}
.card4{
    width: 206px;
    height: 220px;
    background: #57CD9E;
}
.card5{
    width: 206px;
    height: 220px;
    background: #5650D8;
}
.card6{
    width: 206px;
    height: 220px;
    background: #B5D850;
}
.card7{
    width: 206px;
    height: 220px;
    background: #50C8D8;
}
.card8{
    width: 206px;
    height: 220px;
    background: #AC50D8;
}
.card9{
    width: 206px;
    height: 220px;
    background: #D85089;
}
.card10{
    width: 206px;
    height: 220px;
    background: #5086D8;
}
.card11{
    width: 206px;
    height: 220px;
    background: #53D850;
}
.card12{
    width: 206px;
    height: 220px;
    background: #D8BA50;
}
.card13{
    width: 206px;
    height: 220px;
    background: #50D8AF;
}
.card14{
    width: 206px;
    height: 220px;
    background: #D85050;
}

