.logo{
    height: 50px;
    width: 40px;
}
.textlogo{
    color: #DB3022;
    font-size: 34px;
}
.wrapperinput{
    height: 70px;
}
.input_search{
    height: 50px;
}
.btnfilter{
    heigh: 40px;
    width: 40px;
    font-size: 22px;
}
.cart{
    font-size: 22px;
}
.btnauth{
    width: 100px;
    height: 36px;
}