.container{
    border: 2px solid #9B9B9B;
    border-radius: 8px;
}
.inp{
    Width: 348px;
    Height: 48px;
    border: 1px solid #9B9B9B;
}
.btnsave{
    Width: 150px;
    Height: 50px;
}
.btnchange{
    Width: 140px;
    Height: 36px;
    margin-top: -120px;
    margin-left: 0px;
}
.imguser{
    width: 150px;
    height: 150px;
}
.imgwrapper{
    width: 150px;
    height: 150px;
}
.inpdesc{
    height: 118px;
}